.mbl-ul {
    @apply flex flex-col items-center justify-center gap-5 -ml-[50vw]  w-[50vw] transition-all duration-300 py-5 bg-black bg-opacity-70  text-white fixed
}

.mbl-ul-show {
    @apply ml-0 
}

.icon{
    /* p-2 bg-[#1363DF] w-fit rounded */
    padding: 20px;
    background-color: #1363DF;
    width:fit-content;
    border-radius:0 0 50px 0  ;
    color: white;
}

.any{
    top: 0;
    left: 0;
    position: absolute;
    animation-name:ball;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes ball {
0%{
    top:0 ;
    left:0 ;
}
25%{
    left:80%;
    top:0 ;
    /* right:0 ; */
}
50%{
    left:100%;
    top:0 ;
}
75%{
    right: 50%; 
    top: 0;
}
100%{
    bottom:0 ;
    left:0 ;
}
}