@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-common {
    @apply px-6 py-3 bg-[#D5FFD0] font-medium
}

.input-common {
    @apply px-4 py-2 border bg-white
}

.input-div {
    @apply mb-4 flex flex-col justify-center mx-2 md:mx-8
}

.my-divider::after {
    content: "";
    border-bottom: 1px solid white;
    padding: 0 20px;
}

.my-divider::before {
    content: "";
    border-bottom: 1px solid white;
    padding: 0 20px;
}

.home {
    animation-name: hom;
}

.sizing{
    @apply w-11/12 lg:w-10/12 mx-auto
}

.home-btn {
    @apply border px-6 py-3 bg-[#D5FFD0] hover:text-[#D5FFD0] hover:bg-[#279EFF] transition-all duration-300
}







/* ========================fonts============================ */
.ubuntu-font {
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Bevan', serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Girassol', serif; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Rampart One', sans-serif; */
    font-family: 'Roboto Slab', serif;
    /* font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif; */
}

.title-font {
    font-family: 'Anton', sans-serif;
    /* font-family: 'Bebas Neue', sans-serif; */
    /* font-family: 'Bevan', serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Girassol', serif; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Rampart One', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Work Sans', sans-serif;  */
}